*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size:60px;
    font-weight: bold;
}
header{
    background-color: black;
    color:white;
}
span{
    color: rgb(255, 102, 0);
}
#heading{
   padding:10px;
   margin-left: 200px;
}
header nav ul{
     display:flex;
     flex-direction: row;
     gap:20px;
     padding: 8px;
     margin-left: 200px;
}
li{
    list-style-type: none;
}
header li a{
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding:5px;
    background-color: green;
}
header li a :active{
    background-color: rgb(255, 102, 0);
}
header li a:hover{
    background-color: rgb(255, 102, 0);
}

p{
    font: normal 12px / 1.8em Arial, Helvetica, sans-serif;
}
/*  container-CSS */
.container .sub_container{
    width: 80%;
}
.container .side_bar {
    width: 33.3%;
}
.container{
    padding: 0 190px;
    display: flex;
    gap: 35px;
}
.main_part{
    display: flex;
    gap: 16px;
}
.temp{
    height: auto;
}
.temp h2, .side_bar h2{
    color: var(--main-color);
    padding: 16px 0;
}
.main_part h3{
    font-size: 16px;
    padding-bottom: 20px;
}
.main_part img{
    max-width: 100%;
    max-height: 100vh;
    padding: 4px;
    box-shadow: 0 1px 4px -2px #000000;
}
.main_part p{
    margin-top: 16px;
    font-size: 12px;
}
.main_part a {
    color: var(--main-color);
}
.main_part .links a, .main_part .links span{
    color: var(--main-color);
    padding: 0 1px;
}
.main_part .links {
    margin: 30px 0;
}
.main_part a .read{
    color: var(--span-color);
}
.main_part .links{
    display: flex;
}
.main_part .links a, .main_part .links span{
    font-size: 14px;
    padding-top: 15px;
}
.side_bar {
    width: 236px;
}
.side_bar li{
    list-style: none;
    margin: 10px 0;
}
.side_bar a{
    text-decoration: none;   
    font-size: 12px;
    color: #222327;
}
.side_bar a:hover {
    text-decoration: underline;
    color: green;
}
.side_bar li:hover{
    transform: scale(1.05, 1.05);
}
.side_bar h4,.side_bar h5{
    font-size: 12px;
    font-weight: 200;
}
.side_bar h5{
    opacity: 50%;
    margin: 5px 0;
}
.side_bar h4 {
    margin: 15px 0;
}
.side_bar a,
.side_bar h4 {
    opacity: 70%;
}
.div2{
    display: flex;
    flex-direction: row;
    gap:10px;
    background-color: rgb(35, 35, 35);
    color:white; 
    padding:0 200px; 
    padding-top: 15px;
}
.div2 h2{
    color:green;
}
.upper{
    display: flex;
    flex-direction: row;
    padding: 3px;
    gap:5px;
}
.lower{
    display: flex;
    flex-direction: row;
    padding: 3px;
    gap:5px;
}

#aboutcollection img{
    float:left;
    padding: 5px;
}
footer{
    display:flex;
    flex-direction: row;
    background-color: black;
    color:white;
    padding: 0 150px;
    gap: 300px;
}
footer nav ul{
    display:flex;
    text-decoration: none;
    gap: 20px;
    justify-content: right;
}
footer li a:hover{
   color: green;
}
.main_part h2{
    color:green;
    margin-bottom: 20px;
    margin-top:20px
    
}
.container p a{
    color:green;
    text-decoration:underline;
}
p a{
    color: green;
}